{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Password Update{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mb-4">
        <h2>
            Hello, <small class="text-muted">{{ request.user|title }}</small>
        </h2>
        <p class="text-justify">Welcome to your account settings page! Here you can manage your account preferences, including changing your password and deleting your account if needed. We’re committed to keeping your information secure.</p>
    </div>
    <div class="col-md-6">
        <form method="post" class="row g-3">
            <h4>Update Password</h4>
            {% csrf_token %}
            <div class="form-group">
                {{ form.old_password.label_tag }}
                {{ form.old_password|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2|add_class:"form-control" }}
            </div>
            <div class="col-md-6 d-grid">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        <div class="row col-md-6 g-3 mt-4 ">
            <h4>Delete Account</h4>
            <div class="d-grid">
                <a href="{% url 'delete_user' %}" class="btn btn-danger">Delete Account</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}

